:root {
    --background: #F5F5F5;
    --main-white: #ffffff;
    --main-black: #111111;
    --main-orange: #FF6701;
    --main-red: #FF0017;
    --gray1: #f5f5f5;
    --gray2: #e9e9e9;
    --gray3: #d9d9d9;
}
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
</style>
font-family: 'Noto Sans KR', sans-serif;
 */

 /* @import url(https://db.onlinewebfonts.com/c/e54f366d5c05660f8ec30da77797eccb?family=Futura+Std);
 font-family: "Futura Std";
 Futura--Extra--Bold--Condensed
  */

  /* 
  @import url(https://db.onlinewebfonts.com/c/53787f28b31ce517ee2495c631e52617?family=Futura+Std);
  font-family: "Futura Std";
  Futura--Extra--Bold--Condensed--Oblique
   */

header .notice-container {
    background: #e9e9e9;
    width: 100%;
    height: 40px;
    padding: 0px 32px 0px 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

header .notice-container figure {
    display: flex;
}

header .notice-text {
    display: flex;
    align-items: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}