:root {
    --background: #F5F5F5;
    --main-white: #ffffff;
    --main-black: #111111;
    --main-orange: #FF6701;
    --main-red: #FF0017;
    --gray1: #f5f5f5;
    --gray2: #e9e9e9;
    --gray3: #d9d9d9;

    --slide-count: 2;
}


/* 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/53787f28b31ce517ee2495c631e52617?family=Futura+Std'); 
@import url('https://db.onlinewebfonts.com/c/e54f366d5c05660f8ec30da77797eccb?family=Futura+Std'); 
*/


@font-face {
    font-family: "Futura Std"; 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot"); 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.svg#Futura Std") format("svg"); 
    unicode-range: U+004-005f, U+0061-007A;
}

@font-face {
    font-family: "Futura Std Ex";
    src: url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.eot"); 
    src: url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.svg#Futura Std") format("svg");  
    unicode-range: U+004-005f, U+0061-007A;
}

@font-face {
    font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
    unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
    unicode-range:  U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
    unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
    unicode-range:  U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

/* @font-face {
    font-family: "Futura Std"; 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot"); 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.svg#Futura Std") format("svg"); }
    
    @font-face {
        font-family: "Futura Std Oblique"; 
        src: url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.eot"); 
        src: url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.eot?#iefix") 
        format("embedded-opentype"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.woff2") 
        format("woff2"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.woff") 
        format("woff"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.ttf") 
        format("truetype"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.svg#Futura Std") format("svg"); 
    } */



body {
    font-family: 'Noto Sans KR', sans-serif, "Futura Std", "Futura Std Ex";
}

a {
    text-decoration: none;
    color: var(--main-black);
}

.notice-container {
    background: #e9e9e9;
    width: 100%;
    height: 40px;
    padding: 0px 32px 0px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* 보더박스를 해야 테두리 안으로 패딩이 적용된다! */
}

.notice-container figure {
    display: flex;
}

.notice-text {
    display: flex;
    align-items: center;
    text-decoration: noun;
}

.notice-text span {
    font-size: 16px;
    color: var(--main-black);
    font-family: 'Noto Sans KR', sans-serif;
}

.header-navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.nike-logo {
    padding: 22px 90px;
    box-sizing: border-box;
}

.nike-logo img {
    width: 100px;
    height: 35px;
}

.category-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 23px;
    gap: 20px;
}

.category-menu a {
    padding: 10px 20px;
    font-family:  "Futura Std Ex";
    color: var(--main-black);
}
/* 에이테그 텍스트주위 클릭해도 링크넘어가는거 패딩을주면 가능하다!!
갭과 패딩을 적히 섞어서  */

.right-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 25px 40px;
}

.intro-box {
    background-image: url(/img/nike_intro_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 830px;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro-text p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

#snkrs {
    padding-top: 150px;
    padding-bottom: 150px;
    min-width: 1216px;
    position: relative;

}
/* 배경색 지우고 토글에 패딩탑 주기!! */

.sr-only {
    display: none;
}

.slide-button-wrap .button {
    position: relative;
    width: 350px;
    height: 50px;
    border-radius: 34px;
    background-color: var(--gray3);
    transition: all 0.2s;
    cursor: pointer;
    padding: 0px 32px 0px 32px;
    box-sizing: border-box;
    margin-top: 123px;
    margin: 0 auto;
    z-index: -2;
}

.slide-button-wrap .button p {
    line-height: 50px;
    color: var(--main-black);
    transition: all 0.2s;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;
    padding-left: 15px;

    /* font-family: 'NotoSansKR-Regular'
    폰트 이거 물어봐보기!!! */
}

.slide-button-wrap .button .inside {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 183px;
    height: 46px;
    border: 1px solid var(--main-black);
    border-radius: 34px;
    background-color: var(--main-white);
    opacity: 70%;
    transform: translateY(-50%);
    transition: all 0.2s;
    justify-content: space-between;
    z-index: -1;
}

#check:checked ~ .slide-button-wrap label .button {
    background-color: var(--gray3);
}

#check:checked ~ .slide-button-wrap label .button p {
    opacity: 1;
}

#check:checked + .slide-button-wrap .inside {
    left: 170px;
}

#check:checked ~ .snkrs-whole-container .snkrs-incoming-wrapper{
    display: none;
}

#check:checked ~ .snkrs-whole-container .snkrs-upcoming-wrapper{
    display: flex;
}

.snkrs-whole-container {
    width: 1216px;
    margin: auto;
}
.snkrs-pic {
    width: 389px;
    height: 389px;
}

.snkrs-title {
    font-family: "Futura Std";
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.snkrs-title > span {
    margin-left: 14px;
}

.red{
    color: var(--main-red);
}

.snkrs-whole-wrapper {
    position: relative;
    height: 510px;
    width: 1216px;
    
}
.snkrs-incoming-wrapper, .snkrs-upcoming-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1216px;
    height: 510px;
    gap: 24px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    /* position: absolute; */
    /* transition: 0.2s;
    opacity: 0; 
    오퍼시티를 체크박스에 인커밍 업커밍 두곳에 다 넣어서 오퍼시티로 보여줬다가 안보여줬다가 할 수 있음 따라서 넣야줘야한다!! */
}

.snkrs-upcoming-wrapper {
    display: none;
}

/* 이거 고쳐주기!!!************ */
/* .snkrs-incoming-wrapper {
    opacity: 0;
    transition: 0.2s
}  */

/* .snkrs-upcoming-wrapper {
    opacity: 0;
    transition: 0.2s;
} */

.snkrs-upcoming-wrapper {
    display: none;
}

input#check:checked + .snkrs-upcoming-wrapper {
    display: block;
}

.name {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
}

.color {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 14px;
}
/* padding top 5 넣어줌 피그마에선 아직 안줌!!!1*** */

.price {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    text-align: center;
}

#snkrs .more {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 140px;
    /* transform: translateY(-50px); ㅇㅣ거 굳이 안줘도되는지 물어보기 */
}
#snkrs .more a {
    padding: 10px;
}

.more .black {
    margin-right: 8px;
}

.paper-background-pic {
    background-image: url(/img/white-paper-texture.jpg);
}

#new {
    background-image: url(/img/white-paper-texture.jpg);
    height: 770px;
    position: relative;
    padding-top: 80px;
}

h2 {
    font-family:  "Futura Std Ex";
    font-size: 60px;
    font-weight: 750;
    text-align: center;
}

h2 .orange {
    font-family:  "Futura Std Ex";
    font-size: 60px;
    color: var(--main-orange);
}

.new-wrapper {
    overflow: hidden;
}
.new-slide-inner-container {
    display: flex;
    transition: 1s;
    transform: translateX(-00vw);
    /* 나중에 -100 -200 -300 으로 자바에서 넣어줄것임!! */
}

.button-container {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

.new-items-pic {
    width: 390px;
    height: 410px;
    margin: 0 auto;
}

.new-items-pic-wrapper {
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 700px;
    margin-top: 50px;
    flex-shrink: 0;
}

.item-pic-container {
    display: flex;
    width: 1216px;
    margin: 0 auto;
}
.new-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 1216px;
    margin: 0 auto;
    margin-top: 50px;
}

#new h3 {
    font-size: 45px;
}

.new-text p {
    font-size: 30px;
    margin-top: 10px;
}

.pink {
    color: #E4A5A5;
    font-weight: 700;
}

.new-text .orange {
    color: var(--main-orange);
    font-weight: 700;
}

.green {
    color: #277B2F;
    font-weight: 700;
}

.gray {
    color: #444444;
    font-weight: 700;
}

.new-slide-inner-container a {
    border-radius: 30px;
    background-color: var(--main-white);
    font-size: 26px;
    text-align: center;
    padding: 15px 30px;
}

#best {
    padding-top: 80px;
    padding-bottom: 100px;
}

.best-title p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.best-title {
    margin-bottom: 30px;
}

ul{
    list-style:none;
}
a {
    text-decoration: none;
}


.best-container {
    display: flex;

    /* grid-template-columns: repeat(auto-fill, minmax(12.5%, auto));
    grid-template-rows: repeat(auto-fill, minmax(12.5%, auto)); */

    animation-name: best-ani;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; 
}

.item-set:nth-of-type(2n) .item-pic {
    order: 1;
}

@keyframes best-ani {
    from{
        margin-left: 0;

    }
    to{
        margin-left: -678px;
    }
}

.best-container:hover{
    animation-play-state: paused;
}

.item-set{
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-set:hover {
    box-shadow: 7px 7px 7px gray;
}

.item-pic, .item-text {
    background-color: var(--gray2);
    width: 304px;
    height: 304px;
}

.item-pic {
    position: relative;
    overflow: hidden;
}

.item-text {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    align-items: center;
}

.banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.buy-button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #ffffff70;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
}

.best-pic {
    transition: 0.2s;
}
.banner:hover ~ .best-pic {
    filter: blur(3px);
}
.banner:hover ~ .buy-button {
    opacity: 1;
}

h4 {
    font-size: 22px;
    margin: 8px 0;
    font-weight: 700;
    margin-bottom: 16px;
}

.best-price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.info {
    font-size: 16px;
    line-height: 18px;
    line-height: 20px;
}

.best-text {
    width: 260px;
    height: 160px;
    margin: 0 auto;
}

#event {
    margin: 0 auto;
}

.event-slide-wrapper {
    display: flex;
    justify-content: center;
    height: 800px;
    overflow: hidden;
}

.event-slide-inner-container {
    transform: translateY(-00px);
    transition: 0.5s;
    /* **** 슬라이드 0,-800px, -1600px로 넣어주기!!! */
}


.event-slide-inner-container>li {
    height: 800px;
}

.event-text {
    width: 1216px;
}

.event-title {
    margin-bottom: 30px;
}

.event-title p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.event-pic, .event-video>video {
    width: 1216px;
    height: 506px;
}

.event-title-more {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.event-text h3 {
    font-size: 50px;
    font-weight: 700;
}

.event-more {
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 30px;
    color: var(--main-white);
    background-color: var(--main-black);
    text-align: center;
}

.event-text p {
    font-size: 26px;
    margin-top: 20px;
    line-height: 40px;
}


#membership {
    padding-top: 200px;
    /* 나중에 위에 이벤트 섹션 패딩바텀 주고 준만큼 줄여주기!!! */
}

#membership h2 {
    font-family: "Futura Std";
    margin-bottom: 40px;
    text-align: left;
}

#membership .title {
    font-size: 30px;
    margin-bottom: 30px;
}

#membership .recommend {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.join-member {
    font-size: 24px;
    width: 140px;
    padding: 15px 30px;
    border-radius: 30px;
    color: var(--main-white);
    background-color: var(--main-black);
    text-align: center;
}


.membership1-whole-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}

.membership1 img {
    align-items: right;
    width: 1155px;
    height: 720px;
}

.membership2-whole-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.membership2 video {
    width: 1155px;
    height: 478px;
}

.membership1-text-wrapper, .membership2-text-wrapper{
    width: 580px;
    height: 300px;
    line-height: 30px;
    margin: 0 auto;
}

.membership1-text-wrapper {
    order: -1;
}

#nike-app {  
    padding-top: 150px;
}
.iphone-and-screen {
    position: relative;
}

.iphone-whole-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.screen-frame {
    display: flex;
    width: 274px;
    height: 590px;
    overflow: hidden; 
    position: absolute;
    top: 121px;
    left: 281px;
    transition: 1s;
}



.screen-block {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}


@keyframes apps-ani {
    from{
        transform: translateX(0);
    }
    45%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(calc(-100% / var(--slide-count)));  
    }
    95%{
        transform: translateX(calc(-100% / var(--slide-count)));
    }
    to{
        transform: translateX(0);
    }
}


.iphone-screen-whole-wrapper {
    display: flex;
    transform: translateX(0px);
    transition: 1s;
    /* 나중에 0px 랑 -274px로 지정해주기!!**** */

    
    animation-name: apps-ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}


.screen-frame :hover > .iphone-screen-whole-wrapper {
    animation-play-state: paused; 
    /* 호버시 마우스 올리면 멈추는거 어케하는지 ㅁ루어보기!! */
    /* 오버플로우 위에 주면, 다음화면이 하얀 화면으로 넘어감ㅠㅠㅠㅠ */
}
.iphone-frame {
    z-index: 2;
    position: relative;
}

.iphone-frame img {
    width: 660px;
    height: 980px;
    position: relative;
    z-index: 0;
}

.background {
    width: 274px;
    height: 590px;
    z-index: 1;
}

.qr-code {
    width: 130px;
    height: 130px;
}

.phone-wrapper1, .phone-wrapper2 {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
}

.app-info-background-container {
    background-color: rgba(42, 42, 42, 0.6);
    font-family: 'Noto Sans KR';
    color: var(--main-white);
    border-radius: 5%;
    box-sizing: border-box;
    padding: 30px 18px;
    width: 225px;
    height: 280px;
}

.qr-app-info {
    width: 225px;
    height: 460PX;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.app-name {
    font-weight: 700;
    font-size: 13px;
    margin-top: 20px;
}

.app-info {
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
}

.app-icon img {
    width: 58px;
    height: 58px;
}

.nike-apps-text {
    width: 750px;
    height: 550px;
    margin: auto 0;
}

.nike-apps-text h2 {
    font-family: "Futura Std";
    text-align: left;
    margin-bottom: 50px;
}

.nike-apps-text .title {
    font-size: 35px;
    margin-bottom: 45px;
}

.nike-apps-text .recommend {
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 40px;
}

.nike-apps-text a {
    font-size: 22px;
    width: 120px;
    padding: 15px 30px;
    border-radius: 30px;
    color: var(--main-white);
    background-color: var(--main-black);
    text-align: center;
}

footer {
    background-color: var(--gray3);
    height: 450px;
    display: flex;
    align-items: center;
}

.footer-container {
    width: 1400px;
    margin: 0 auto;
}

.sns-icons {
    display: flex;
    width: 200px;   
    justify-content: space-between;
}

.sns-icons img {
    width: 40px;
    height: 40px;
}

.footer-text-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-left-nav {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.footer-left-nav li {
    font-size: 16px;
    margin-bottom: 20px;
}

.nav1 li, .nav3 li {
    font-weight: 700;
}
.nav1 .about-nike {
    font-family: "Futura Std";
}

.nav2, .nav3>.customer {
    font-weight: 900;
}

.footer-right {
    width: 530px;
    height: 220px;
    font-size: 14px;
    font-weight: 500;
    /* 한글이랑 영어 모두다 Nnotosans로 해주는법!! */
}

/* .right-info1> p, .right-info1>address, .right-info1>span, .right-info1>a {
    margin-bottom: 10px;
} */

.right-info1>p, .right-info1>address, .right-info1>span, .right-info1>a {
    margin-bottom: 10px;
}

.right-info1 p {
    display: flex;
}

.right-info1 span::before {
    content: "|";
    margin: 5px;
}

.right-info2 {
    line-height: 20px;
    margin-top: 20px;
}

.right-info2 p{
    margin-bottom: 20px;
}

.protect-safe {
    display: inline;
    text-decoration: underline;
}


.pause {
    animation-play-state: paused;
}