:root {
    --background: #F5F5F5;
    --main-white: #ffffff;
    --main-black: #111111;
    --main-orange: #FF6701;
    --main-red: #FF0017;
    --gray1: #f5f5f5;
    --gray2: #e9e9e9;
    --gray3: #d9d9d9;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* @import url('https://db.onlinewebfonts.com/c/53787f28b31ce517ee2495c631e52617?family=Futura+Std'); */
/* @import url('https://db.onlinewebfonts.com/c/e54f366d5c05660f8ec30da77797eccb?family=Futura+Std');  */


@font-face {
    font-family: "Futura Std"; 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot"); 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.svg#Futura Std") format("svg"); 
}
@font-face {
    font-family: "Futura Std Ex";
    src: url("http://db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot");  
    src: url("http://db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot?#iefix") format("embedded-opentype"), 
    url("http://db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff2") format("woff2"), 
    url("http://db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.ttf") format("truetype"), 
    url("http://db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.svg#Futura Std") format("svg"); 
}

/* @font-face {
    font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;  
        format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) 
        format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: "Futura Std"; 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot"); 
    src: url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/e54f366d5c05660f8ec30da77797eccb.svg#Futura Std") format("svg"); }
    
    @font-face {
        font-family: "Futura Std Oblique"; 
        src: url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.eot"); 
        src: url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.eot?#iefix") 
        format("embedded-opentype"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.woff2") 
        format("woff2"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.woff") 
        format("woff"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.ttf") 
        format("truetype"), url("//db.onlinewebfonts.com/t/53787f28b31ce517ee2495c631e52617.svg#Futura Std") format("svg"); 
    }
    */
    
    *{
        font-family: "Futura Std", 
        "Futura Std Oblique", 
        'Noto Sans KR', sans-serif;
    } 
    
a {
    text-decoration: none;
}

.notice-container {
    background: #e9e9e9;
    width: 100%;
    height: 40px;
    padding: 0px 32px 0px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* 보더박스를 해야 테두리 안으로 패딩이 적용된다! */
}

.notice-container figure {
    display: flex;
}

.notice-text {
    display: flex;
    align-items: center;
    text-decoration: noun;
}

.notice-text span {
    font-size: 16px;
    color: var(--main-black);
    font-family: 'Noto Sans KR', sans-serif;
}

.header-navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.nike-logo {
    padding: 22px 90px;
    box-sizing: border-box;
}

.nike-logo img {
    width: 100px;
    height: 35px;
}

.category-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 23px;
    gap: 20px;
}

.category-menu a {
    padding: 10px 20px;
    font-family:  "Futura Std";
    font-style: italic;
    color: var(--main-black);
}
/* 에이테그 텍스트주위 클릭해도 링크넘어가는거 패딩을주면 가능하다!!
갭과 패딩을 적히 섞어서  */

.right-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 25px 40px;
}

.intro-box {
    background-image: url(/img/nike_intro_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 830px;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro-text p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.sr-only {
    display: none;
}

.slide-button-wrap .button {
    position: relative;
    width: 350px;
    height: 50px;
    border-radius: 34px;
    background-color: var(--gray3);
    transition: all 0.2s;
    cursor: pointer;
    padding: 0px 32px 0px 32px;
    box-sizing: border-box;
    margin-top: 123px;
    margin: 0 auto;
    z-index: -2;
}


.slide-button-wrap .button p {
    line-height: 50px;
    color: var(--main-black);
    transition: all 0.2s;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding-left: 15px;

    /* font-family: 'NotoSansKR-Regular'
    폰트 이거 물어봐보기!!! */
}

.slide-button-wrap .button .inside {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 183px;
    height: 46px;
    border: 1px solid var(--main-black);
    border-radius: 34px;
    background-color: var(--main-white);
    opacity: 70%;
    transform: translateY(-50%);
    transition: all 0.2s;
    justify-content: space-between;
    z-index: -1;
}

.slide-button-wrap input:checked ~ label .button {
    background-color: var(--gray3);
}

.slide-button-wrap input:checked ~ label .button p {
    opacity: 1;
}

.slide-button-wrap input:checked ~ label .button .inside {
    left: 170px;
}

.snkrs-pic {
    width: 389px;
    height: 389px;
}

.snkrs-title {
    font-family: "Futura Std";
    font-size: 40px;
    box-sizing: border-box;
    padding-top: 29px;
    margin-left: 354px;
}

.red{
    color: var(--main-red);
}

.snkrs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1216px;
    height: 537px;
    gap: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 30px 352px 336px 352px;
}

.name {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
}

.color {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}
/* padding top 5 넣어줌 피그마에선 아직 안줌!!!1*** */

.price {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 4px;
}

.more {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 700;
    box-sizing: border-box;
    justify-content: space-between;
}

.more .black {
    margin-right: 8px;
}

.paper-background-pic {
    background-image: url(/img/white-paper-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    font-family:  "Futura Std";
    font-style: italic;
    font-size: 60px;
    font-weight: 750;
}

h2 .orange {
    font-family:  "Futura Std";
    font-style: italic;
    font-size: 60px;
    font-weight: 750;
    color: var(--main-orange);
}

/* 폰트 extra bold는 없는가요? */

.new-items-pic {
    width: 390px;
    height: 410px;
}

.new-items1-pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}






.snkrs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1215px;
    height: 537px;
    gap: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 30px 352px 336px 352px;
}